.post-content {
  font-size: var(--font-sizes-post-content);
  line-height: var(--line-heights-lg);
  color: var(--colors-gray-700);

  & > * {
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-3);

    & > :is(p, div) {
      margin-top: var(--spacing-1);
      margin-bottom: var(--spacing-1);
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    font-feature-settings: 'palt';
    font-kerning: normal;
    line-height: var(--line-heights-md);
    letter-spacing: var(--letter-spacings-md);
    word-break: auto-phrase; /* left -> pretty, center -> balance */
    text-wrap: pretty;
    scroll-margin-top: 1em;

    & > code {
      font-size: 1em;
    }

    & + :where(*) {
      margin-top: auto;
    }

    & + :is(h2, h3, h4, h5, h6) {
      margin-top: 0;
    }

    /* mokuji */
    & > [data-mokuji-anchor] {
      opacity: 0;
    }
    &:hover {
      & > [data-mokuji-anchor] {
        opacity: 1;
      }
    }
  }

  h2 {
    padding-bottom: var(--spacing-½);
    margin-top: var(--spacing-6);
    margin-bottom: var(--spacing-3);
    line-height: var(--line-heights-md);
    border-bottom: 1px solid var(--colors-gray-400);

    &:first-of-type {
      margin-top: auto;
    }
  }

  h3 {
    margin-top: var(--spacing-5);
    margin-bottom: var(--spacing-3);
    line-height: var(--line-heights-sm);
  }

  h4,
  h5 {
    margin-top: var(--spacing-5);
    margin-bottom: var(--spacing-2);
    line-height: var(--line-heights-sm);
  }

  h6 {
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-2);
    line-height: var(--line-heights-sm);
  }

  > :where(p) {
    letter-spacing: var(--letter-spacings-md);
    /* stylelint-disable */
    word-break: break-word;
    /* stylelint-enable */
    overflow-wrap: break-word;
  }

  /* workaround */
  a:where(:not(:has([class]), [data-mokuji-anchor])) {
    text-decoration-line: underline;

    &:hover {
      text-decoration-color: var(--colors-gray-900);
    }
  }

  blockquote {
    padding: var(--spacing-2) var(--spacing-3);
    font-size: var(--font-sizes-sm);
    color: var(--colors-gray-700);
    background-color: var(--colors-gray-a-50);
    border-left: var(--spacing-½) solid var(--colors-gray-400);

    cite {
      display: block;
      font-size: var(--font-sizes-xs);
      line-height: var(--line-heights-sm);
      color: var(--colors-gray-600);
    }
  }

  ul,
  ol {
    padding-inline-start: var(--spacing-3);

    & + pre {
      margin-inline-start: var(--spacing-3);
    }
  }

  :where(li) > :is(ul, ol) {
    margin-block-start: 0;
  }

  li {
    margin-block-start: var(--spacing-½);

    &:first-of-type {
      margin-block-start: 0;
    }

    blockquote {
      margin-top: var(--spacing-1);
    }

    ul:last-of-type {
      margin-block-end: var(--spacing-1);
    }
  }

  iframe {
    width: 100%;
    background-color: var(--colors-white);

    &[src*='youtube'] {
      height: auto;
      aspect-ratio: 16 / 9;
    }

    &[srcdoc] {
      display: block;
      border: 1px solid var(--colors-gray-a-200);
      border-radius: var(--radii-4);
    }

    @media (--isMobile) {
      min-height: 320px;
    }
  }

  details {
    & > :is(h2, h3, h4, h5, h6):first-of-type {
      margin-top: 0;
    }

    summary {
      padding: var(--spacing-1) var(--spacing-2);
      font-size: var(--font-sizes-sm);
      font-weight: var(--font-weights-bold);
      background-color: var(--colors-white);
      border: 1px solid var(--colors-gray-a-300);
      border-radius: var(--radii-4);
      transition: background-color 0.2s ease-out;
    }

    &::details-content {
      margin: var(--spacing-2);
      font-size: var(--font-sizes-sm);

      > *:first-of-type {
        margin-top: auto;
      }
    }

    &[open] {
      background-color: var(--colors-white);
      border: 1px solid var(--colors-gray-a-400);
      border-radius: var(--radii-4);

      summary {
        background-color: var(--colors-gray-100);
        border: none;
        border-radius: 0;
      }
    }

    &:not([open]) {
      summary {
        &:hover {
          background-color: var(--colors-gray-100);
        }
      }
    }
  }

  figure {
    margin: var(--spacing-3) auto;
  }

  figcaption {
    margin-top: var(--spacing-1);
    font-size: var(--font-sizes-sm);
    color: var(--colors-gray-600);
  }

  hr {
    display: flex;
    align-items: center;
    width: 80%;
    margin: var(--spacing-5) auto;
    border: 0;

    &::after {
      display: block;
      width: 100%;
      height: var(--spacing-1);
      color: var(--colors-gray-400);
      content: '';
      background-image: repeating-linear-gradient(
        -45deg,
        currentColor,
        currentColor 1px,
        transparent 0,
        transparent 50%
      );
      background-size: 6px 6px;
    }
  }
}
