.post-content {
  font-size: var(--font-size-post-content);
  color: var(--color-gray-11);

  & > * {
    margin-top: var(--space-2);
    margin-bottom: var(--space-3);

    & > p,
    & > div {
      margin-top: var(--space-1);
      margin-bottom: var(--space-1);
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    font-feature-settings: 'palt';
    font-kerning: normal;
    line-height: var(--line-height-md);
    letter-spacing: var(--letter-spacing-md);
    word-break: auto-phrase; /* left -> pretty, center -> balance */
    text-wrap: pretty;
    scroll-margin-top: 1em;

    & > code {
      font-size: 1em;
    }

    & + :where(*) {
      margin-top: auto;
    }

    & + :is(h2, h3, h4, h5, h6) {
      margin-top: 0;
    }

    /* mokuji */
    & > [data-mokuji-anchor] {
      opacity: 0;
    }
    &:hover {
      & > [data-mokuji-anchor] {
        opacity: 1;
      }
    }
  }

  h2 {
    margin-top: var(--space-6);
    margin-bottom: var(--space-3);
    line-height: var(--line-height-md);

    &:not(:has(+ h3)) {
      border-bottom: 1px solid var(--color-gray-6);
    }

    &:first-of-type {
      margin-top: auto;
    }
  }

  h3 {
    margin-top: var(--space-5);
    margin-bottom: var(--space-3);
    line-height: var(--line-height-sm);
  }

  h4,
  h5 {
    margin-top: var(--space-5);
    margin-bottom: var(--space-2);
    line-height: var(--line-height-sm);
  }

  h6 {
    margin-top: var(--space-4);
    margin-bottom: var(--space-2);
    line-height: var(--line-height-sm);
  }

  > :where(p) {
    letter-spacing: var(--letter-spacing-md);
    /* stylelint-disable */
    word-break: break-word;
    /* stylelint-enable */
    word-wrap: break-word;
  }

  /* workaround */
  a:where(:not(:has([class]), [data-mokuji-anchor])) {
    text-decoration-line: underline;

    &:hover {
      text-decoration-color: var(--color-gray-11);
    }
  }

  blockquote {
    padding: var(--space-2) var(--space-3);
    font-size: var(--font-size-md);
    color: var(--color-gray-11);
    background-color: var(--color-gray-1A);
    border-left: var(--space-½) solid var(--color-gray-6);

    cite {
      display: block;
      font-size: var(--font-size-xs);
      line-height: var(--line-height-sm);
      color: var(--color-gray-11);
    }
  }

  ul,
  ol {
    padding-inline-start: var(--space-3);

    & + pre {
      margin-inline-start: var(--space-3);
    }
  }

  :where(li) > :is(ul, ol) {
    margin-block-start: 0;
  }

  li {
    margin-block-start: var(--space-½);

    &:first-of-type {
      margin-block-start: 0;
    }

    blockquote {
      margin-top: var(--space-1);
    }

    ul:last-of-type {
      margin-block-end: var(--space-1);
    }
  }

  iframe {
    width: 100%;

    &[src*='youtube'] {
      height: auto;
      aspect-ratio: 16 / 9;
    }

    @media (--isMobile) {
      min-height: 320px;
    }
  }

  details {
    background-color: var(--white);

    summary {
      padding: var(--space-1) var(--space-2);
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-bold);
      border: 1px solid var(--color-gray-6);
      border-radius: var(--border-radius-4);
      transition: background-color 0.2s ease;

      & ~ * {
        margin: var(--space-2);
        font-size: var(--font-size-sm);

        > *:first-of-type {
          margin-top: auto;
        }
      }
    }

    &[open] {
      border: 1px solid var(--color-gray-6);
      border-radius: var(--border-radius-4);

      summary {
        background-color: var(--color-gray-3);
        border: none;
        border-radius: 0;
      }
    }

    &:not([open]) {
      summary {
        &:hover {
          background-color: var(--color-gray-3);
        }
      }
    }
  }

  figure {
    margin: var(--space-3) auto;
  }

  hr {
    display: flex;
    align-items: center;
    width: 80%;
    margin: var(--space-5) auto;
    border: 0;

    &::after {
      display: block;
      width: 100%;
      height: var(--space-1);
      color: var(--color-gray-6);
      content: '';
      background-image: repeating-linear-gradient(
        -45deg,
        currentColor,
        currentColor 1px,
        transparent 0,
        transparent 50%
      );
      background-size: 6px 6px;
    }
  }
}
