.archive-list {
  display: flex;
  margin-bottom: 2rem;
}

.archive-year {
  margin-right: 3rem;

  &__title {
    margin: 0;
    font-size: 1.5em;
  }
}

.archive-post {
  flex-grow: 1;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__title {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: $color-text-heading;
  }

  &__date {
    display: block;
    line-height: 1;
    color: $color-text--lighter;
  }

  &__link {
    display: block;
    text-decoration: none;
  }
}
