.post {

  &__article {
    & .c-heading {
      margin-bottom: 1rem;
    }
  }

  &__content {
    margin: 2rem 0 2rem;

    & a {
      text-decoration: underline;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      position: relative;
      scroll-margin-top: 1em;

      & .anchor {
        position: absolute;
        top: 0;
        right: calc(100% + 0.25em);
        bottom: 0;
        margin: auto;
        border: 0;
        color: var(--bg-color--dark);
        text-decoration: none;
        user-select: none;

        @mixin mobile {
          position: static;
          margin-left: 0.25em;
        }
      }
    }

    & h3,
    & h4,
    & h5,
    & h6 {
      margin: 2.5em auto 1em;
    }

    & h2 {
      margin: 3em auto 1.5em;
    }

    & ul {
      list-style: disc;
    }

    & ol {
      list-style: decimal;
    }

    & > p {
      margin-top: 0;
      margin-bottom: 1.5em;
      letter-spacing: 0.05em;
      line-height: 2;
      word-break: break-all;
    }

    & blockquote {
      position: relative;
      margin: 2rem 0;
      padding: 3rem;
      background: var(--bg-color--lighter);
      color: var(--color-text--light);
      font-size: var(--font-size-sm);

      &::before,
      &::after {
        display: block;
        position: absolute;
        width: 3rem;
        height: 3rem;
        color: var(--bg-color--darker);
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
      }

      &::before {
        content: '“';
        top: 0;
        left: 0;
      }
      &::after {
        content: '”';
        right: 0;
        bottom: 0;
      }

      & p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    & pre {
      margin-bottom: 1rem;
    }

    & .sandbox {
      position: relative;
      margin-bottom: 2rem;
      padding: 2rem;
      border: 2px solid var(--bg-color--lighter);
      background: #fff;
      & + pre {
        margin-top: -(2rem + 0.15rem) !important;
      }
    }
  }

  &__share {
    margin: 3rem 0;
    text-align: center;
  }

  &__pager {
    margin: 2rem 0;
  }

  & .c-alert {
    margin-bottom: 1rem;
  }

  & .table-container {
    margin: 2rem 0;
  }

  & hr {
    height: 2rem;
    margin: 2rem 0;
    border: 0;
    color: var(--color-text--lighter);
    text-align: center;

    &::before {
      content: '***';
      height: 100%;
      font-size: 1.5rem;
    }
  }
}
