.post {

  &__article {
    .c-heading {
      margin-bottom: 1rem;
    }
  }

  &__content {
    margin: 2rem 0 2rem;

    a {
      text-decoration: underline;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;
      .anchor {
        position: absolute;
        top: 0;
        right: calc(100% + 0.25em);
        bottom: 0;
        margin: auto;
        border: 0;
        color: $bg-color--dark;
        text-decoration: none;
        user-select: none;
        @include until($desktop) {
          position: static;
          margin-left: 0.25em;
        }
      }
    }

    h1,
    h2,
    h3 {
      margin-top: 3em;
    }

    h4,
    h5,
    h6 {
      margin-top: 2.5em;
    }

    ul,
    ol {
      li {
        margin-bottom: 0.625rem;
      }
    }

    .sandbox {
      position: relative;
      margin-bottom: 2rem;
      padding: 2rem;
      border: 2px solid $bg-color--lighter;
      background: #fff;
      & + pre {
        margin-top: -(2rem + 0.15rem) !important;
      }
    }
  }

  &__share {
    margin: 3rem 0;
    text-align: center;

    @include mobile {
      position: sticky;
      bottom: 1rem;
    }
  }

  &__pager {
    margin: 2rem 0;
  }

  .c-alert {
    margin-bottom: 1rem;
  }

  hr {
    height: 2rem;
    margin: 2rem 0;
    border: 0;
    color: $color-text--lighter;
    text-align: center;

    &::before {
      content: '***';
      height: 100%;
      font-size: 1.5rem;
    }
  }
}
