.post {

  &__content {
    margin-bottom: 2rem;

    a {
      text-decoration: underline;

      &.is-external_link {

        &::after {
          content: '';
          display: inline-block;
          width: 1em;
          height: 1em;
          margin: 0 0.25em;
          background: url('~assets/image/open_in_new.svg') center / 1em 1em no-repeat;
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;
      .anchor {
        position: absolute;
        top: 0;
        right: calc(100% + 0.25em);
        bottom: 0;
        margin: auto;
        border: 0;
        color: $bg-color--dark;
        text-decoration: none;
        user-select: none;
        @include until($desktop) {
          position: static;
          margin-left: 0.25em;
        }
      }
    }

    h1,
    h2,
    h3 {
      margin-top: 3em;
    }

    h4,
    h5,
    h6 {
      margin-top: 2.5em;
    }

    ul,
    ol {
      li {
        margin-bottom: 0.625rem;
      }
    }
  }

  &__share {
    margin: 3rem 0;
    text-align: center;

    @include mobile {
      position: sticky;
      bottom: 1rem;
    }
  }

  hr {
    height: 2rem;
    margin: 2rem 0;
    border: 0;
    color: $color-text--lighter;
    text-align: center;

    &::before {
      content: '***';
      font-size: 1.5rem;
    }
  }
}
