.o-post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    display: flex;
    flex-basis: calc(50% - 1rem);
    margin-bottom: 1.5rem;
    color: $base-color;

    @include mobile {
      flex-basis: 100%;
    }
  }
}
