.o-post-list {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}
