.p-link-preview {
  display: flex;
  align-items: center;
  height: 120px;
  margin: var(--space-3) 0;
  overflow: hidden;
  color: var(--color-gray-12);
  text-decoration: none;
  text-decoration-line: unset;
  background-color: var(--color-gray-1);
  border: 1px solid var(--color-gray-7);
  border-radius: var(--border-radius-8);

  &:hover {
    background-color: var(--color-gray-2);
    border-color: var(--color-gray-8);
  }

  &[target='_blank']::after {
    content: none;
  }

  &[data-card='summary_large_image'] {
    @media (--isDesktop) {
      .p-link-preview-body {
        padding: var(--space-2);
      }

      .p-link-preview-thumbnail {
        width: calc(var(--container-width) / 230px);
        max-width: 230px;
        height: 120px;
      }
    }
  }
}

.p-link-preview-body {
  display: block;
  flex: 1 1;
  width: calc(100% - 120px);
  padding: 0 var(--space-2);
  padding-left: var(--space-2);
}

.p-link-preview-body__title {
  @mixin text-ellipsis;

  display: block;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

.p-link-preview-body__description {
  @mixin line-clamp 2;

  margin-top: var(--space-½);
  -webkit-line-clamp: 1;
  font-size: var(--font-size-sm);
  color: var(--color-gray-11);

  @media (--isMobile) {
    display: none;
  }
}

.p-link-preview-body__url {
  @mixin text-ellipsis;

  display: block;
  font-size: var(--font-size-sm);
  color: var(--color-gray-11);
}

.p-link-preview-thumbnail {
  display: flex;
  flex-shrink: 0;
  flex-basis: auto;
  flex-direction: column;
  width: 120px;
  height: 120px;
  overflow: hidden;
  user-select: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
