.post-tag-anchor {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-½) var(--space-2);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  color: var(--color-gray-11);
  text-align: center;
  white-space: nowrap;
  background-color: var(--color-gray-3A);
  border-radius: var(--border-radius-8);
}
