:root {
  --font-family-sans-serif: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  --font-family-monospace:
    SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji, monospace;

  --container-width: 800px;

  --shadow-base: color-mix(in oklab, var(--colors-gray-3A), var(--colors-gray-3A) 25%);
  --shadows-xs: 0 1px 2px var(--shadow-base), 0 0 1px var(--colors-gray-a-7);
  --shadows-sm: 0 2px 4px var(--shadow-base), 0 0 1px var(--colors-gray-a-7);
  --shadows-md: 0 4px 8px var(--shadow-base), 0 0 1px var(--colors-gray-a-7);
  --shadows-lg: 0 8px 16px var(--shadow-base), 0 0 1px var(--colors-gray-a-7);
  --shadows-xl: 0 16px 24px var(--shadow-base), 0 0 1px var(--colors-gray-a-7);
  --shadows-2xl: 0 24px 40px var(--shadow-base), 0 0 1px var(--colors-gray-a-7);
}
