/* stylelint-disable nesting-selector-no-missing-scoping-root */

@define-mixin line-clamp $lines {
  display: -webkit-box;
  overflow-y: hidden;
  -webkit-line-clamp: $lines;
  /* stylelint-disable-next-line property-no-deprecated */
  -webkit-box-orient: vertical;
}

@define-mixin link-style {
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-½) var(--spacing-1);
  color: var(--colors-gray-1000);
  border-radius: var(--radii-4);
}

@define-mixin link-style--hover-effect {
  position: relative;

  &::after {
    position: absolute;
    inset: 0;
    display: block;
    pointer-events: none;
    content: '';
    background-color: var(--colors-gray-a-100);
    border-radius: var(--radii-4);
    opacity: 0;
    transform: scale(0.8);
    transition:
      transform 0.2s var(--easings-ease-in-out-quint),
      opacity 0.1s;
  }

  &:hover,
  &:focus,
  &:focus-within {
    &::after {
      opacity: 1;
      transform: scale(1);
    }
  }

  &:active {
    &::after {
      background-color: var(--colors-gray-a-200);
    }
  }

  &:focus-visible {
    outline: 0;
    box-shadow: inset 0 0 0 2px var(--colors-gray-700);
  }
}

/**
 * TailwindCSS の sr-only クラス実装を参考
 * @see https://tailwindcss.com/docs/screen-readers
 */
@define-mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip-path: rect(0, 0, 0, 0);
}

/**
 * @see https://tailwindcss.com/docs/screen-readers
 */
@define-mixin not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  white-space: normal;
  clip-path: auto;
}
