@import '~open-color/open-color.scss';

// base
$color-primary: $oc-gray-8;
$color-secondary: $oc-gray-7;

$color-text: $oc-gray-8;
$color-text--dark: $oc-gray-9;
$color-text--darker: $oc-gray-9;
$color-text--light: $oc-gray-7;
$color-text--lighter: $oc-gray-6;
$color-text-heading: $oc-gray-8;
$color-text-description: $oc-gray-6;
$color-text-link: $oc-blue-9;

$bg-color: $oc-gray-2;
$bg-color--dark: $oc-gray-3;
$bg-color--darker: $oc-gray-4;
$bg-color--light: $oc-gray-1;
$bg-color--lighter: $oc-gray-0;
$bg-color-hover: $oc-gray-1;

$border-color: $oc-gray-3;
