// Size

$size: (
  xs: 6/8, // 0.75
  sm: 6/7, // 0.85714
  md: 6/6, // 1
  lg: 6/5, // 1.2
) !default;


// Fonts

$font-family-sans-serif: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Yu Gothic', YuGothic,
  'Hiragino Kaku Gothic ProN', Meiryo, Roboto, 'Helvetica Neue', Arial, Noto Sans, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-family-monospace: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !default;

$h1-font-size: 1rem * 6/3; // 2rem
$h2-font-size: 1rem * 6/4; // 1.5rem
$h3-font-size: 1rem * 6/5; // 1.2rem
$h4-font-size: 1rem * 6/6; // 1rem
$h5-font-size: 1rem * 6/7; // 0.85714rem
$h6-font-size: 1rem * 6/8; // 0.75rem

$font-size-xs: map-get($size, xs) * 1rem;
$font-size-sm: map-get($size, sm) * 1rem;
$font-size-md: map-get($size, md) * 1rem;
$font-size-lg: map-get($size, lg) * 1rem;

// Terminal size

$tablet: 769px;
$desktop: 960px;
$widescreen: $desktop; // 1152px;
$fullhd: $desktop; // 1344px;

//
// Parts
// --------------------

$header-height: 4rem;

// table
$table-border-width: 1px;
$table-head-bg-color: $bg-color;
$table-border-color: $bg-color--dark;
$table-hover-color: $bg-color-hover;

//
// Components
// --------------------

// Alert

$alert-padding-y: 1rem !default;
$alert-padding-x: 1rem !default;
$alert-border-radius: 0.15rem !default;
