.pj-footer {
  margin-top: calc(var(--margin-base) * 4);
  padding: 3rem 0;
  background: var(--bg-color--lighter);
  color: var(--color-text--light);
  font-size: var(--font-size-sm);
  line-height: 1;
  text-align: center;

  @media (--mobile-viewport) {
    font-size: var(--font-size-md);
  }
}

.pj-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pj-footer__link {
  color: inherit;

  &:hover {
    text-decoration-line: underline;
  }
}

.pj-footer-menu {

}

.pj-footer-menu__list {
  display: inline-flex;
}

.pj-footer-menu__item {
  & +  & {
    margin-left: 1em;
  }
}

.pj-footer-copyright__text {
  font-size: 1em;
}
