.pj-header {
  position: fixed;
  z-index: var(--zIndex-header);
  top: 0;
  right: 0;
  left: 0;
  height: var(--header-height);
  margin: 0 auto;
  transition: transform 0.25s ease;
  pointer-events: none;
  will-change: transform;

  &.is-unpin {
    transform: translateY(calc(var(--header-height) * -1));
    box-shadow: none;
  }
}

.pj-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--container-width);
  height: 100%;
  margin: 0 auto;
  transition: padding 0.1s ease-in-out;

  @media (max-width: 959px) {
    padding: 0 5vw;
  }
}

.pj-header__avatar {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  border-radius: 100%;
}

.pj-header__logo {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--color-text);
  pointer-events: auto;
}

.pj-header-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  transition: background 0.2s ease;
  border: none;
  border-radius: 100%;
  background: none;
  cursor: pointer;
  pointer-events: auto;

  &:hover,
  &:focus {
    background: var(--bg-color--lighter);
  }
}

.pj-header-search__icon {
  display: flex;

  & svg {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--color-text--light);
  }
}
