.p-archive {

  &__contents {
    margin-top: calc(var(--margin-base) * 1);

    > * + * {
      margin-top: 2rem;
    }
  }
}

.archive-year {
  @media (--desktop-viewport) {
    margin-right: 3rem;
    padding-top: 1rem;
  }

  @media (--mobile-viewport) {
    margin-bottom: 1rem;
  }
}
