.p-home {
  margin-top: calc(var(--margin-base) * 1);
}

.p-home-section {
  margin-top: calc(var(--margin-base) * 1);

  &:not(:first-child) {
    margin-top: calc(var(--margin-base) * 2);
  }

  &__contents {
    margin-top: calc(var(--margin-base));
  }
}
