.p-post__content {

  & > * {
    margin-top: var(--space-sm);
    margin-bottom: var(--space-sm);

    &:first-child {
      margin-top: 0;
    }

    & > p {
      margin-top: var(--space-xs);
      margin-bottom: var(--space-xs);

      &:first-child {
        margin-top: 0;
      }
    }
  }

  a {
    text-decoration-line: underline;
    word-break: break-all;

    &:hover {
      text-decoration-color: var(--text-11);
    }
  }

  :is(h1, h2, h3, h4, h5, h6) {
    position: relative;
    scroll-margin-top: 1em;

    &:hover,
    &:focus {
      & > .anchor {
        visibility: visible;
      }
    }

    & > {
      code {
        font-size: 1em;
      }

      .anchor {
        display: inline-flex;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: calc(100%);
        bottom: 0;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        margin: auto;
        color: var(--text-11);
        text-decoration: none;
        user-select: none;

        @media (--mobile-viewport) {
          position: static;
          margin-left: 0.25em;
        }
      }
    }
  }

  h2 {
    margin: var(--space-x-xl) auto var(--space-sm);
  }

  h3 {
    margin: var(--space-xl) auto var(--space-sm);
  }

  h4,
  h5,
  h6 {
    margin: var(--space-lg) auto var(--space-sm);
  }

  ul,
  ol {
    margin: var(--space-md) 0;
    padding-left: 2rem;
    letter-spacing: 0.05em;

    ul,
    ol {
      margin: 0.25rem 0 1rem;
      padding-left: 1.5rem;
    }

    img {
      margin: 0.25em 0;
    }
  }

  li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  > p {
    letter-spacing: 0.05em;
    line-height: 2;
    word-break: break-all;
  }

  blockquote {
    padding: 1em 1.5em 1em;
    border-left: 2px solid var(--borders-6);
    color: var(--text-11);

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  & iframe {
    aspect-ratio: 16 / 9;
  }

  & hr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--space-x-xl) 0;
    border: 0;

    &::before {
      content: '◇ ◆ ◇';
      color: var(--text-12);
      font-size: 1em;
    }
  }
}

.p-post-table-container {
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
