/* tmp: Workaround */
.sr-only {
  @mixin sr-only;
}

.not-sr-only {
  @mixin not-sr-only;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[data-line-clamp='1'] {
  @mixin line-clamp 1;
}

[data-line-clamp='2'] {
  @mixin line-clamp 2;
}

.link-style {
  @mixin link-style;
}

.link-style--hover-effect {
  @mixin link-style--hover-effect;
}

.line-clamp-2 {
  @mixin line-clamp 2;
}
