.c-mokuji {
  margin: 2rem 0;
  border-radius: 0.15rem;
  background: var(--bg-color--light);
  color: var(--color-text--light);
  font-size: var(--font-size-sm);

  & summary {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;

    &::after {
      content: 'INDEX';
    }
  }

  & a {
    color: inherit;
  }

  & ol {
    list-style: none;
    counter-reset: number;

    & li {
      margin-bottom: 0.625rem;
      list-style: none;

      &::before {
        content: counters(number, '-') '. ';
        counter-increment: number;
      }
    }

    & ol {
      margin: 0.5rem 0;
      padding-left: 1.25em;
    }
  }

  &__list {
    margin: 0;
    padding: 0.75rem 1.5rem 1rem;

    & > li > a {
      font-weight: bold;
    }
  }
}
