.c-pickup-category {
  display: flex;
  align-items: center;
  margin: 1rem auto 2rem;
  font-size: var(--font-size-xs);
  scroll-snap-type: x;
  scrollbar-width: thin;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 12rem;
    padding: 0.5rem 1.5rem;
    transition: background .3s;
    border-radius: 0.25rem;
    background: var(--bg-color--light);
    text-align: center;
    scroll-snap-align: start;

    &:hover {
      background: var(--bg-color);
    }

    .nuxt-link-active & {
      background: var(--color-text);
      color: var(--bg-color);
    }
  }

  &__link {
    & + & {
      margin-left: 1rem;
    }
  }

  &__name {
    width: 100%;
    overflow: hidden;
    letter-spacing: 0.05em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
