.c-scroll-button {
  display: inline-flex;
  position: fixed;
  right: 2vw;
  bottom: 2vw;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  transition: background 0.4s, color 0.4s;
  border: none;
  border-radius: 50%;
  background: var(--color-text);
  color: inherit;
  cursor: pointer;
  appearance: none;

  & svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--bg-color);
  }

  &:hover,
  &:focus {
    background: var(--bg-color--darker);

    & svg {
      color: var(--color-text);
    }
  }
}
