.c-alert {
  padding: 1rem 1.25rem;
  border-radius: 0.25rem;
  background-color: var(--bg-color--lighter);
  color: var(--color-text--light);

  & a {
    color: var(--color-text);
  }

  & + & {
    margin-top: 1rem;
  }
}
