.c-heading-main {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  &__title {
    color: var(--text-12);
    font-weight: 900;
    line-height: 1.6;
    overflow-wrap: break-word;

    &--normal {
      @extend &__title;

      color: var(--text-11);
      font-weight: 500;
    }
  }

  &__side {
    color: var(--text-11);
  }
}

.c-heading-sub {
  color: var(--text-11);
  font-weight: normal;
  line-height: 1.4;
  overflow-wrap: break-word;
}
