.c-heading {
  color: var(--color-text);
  font-weight: bold;
  line-height: 1.6;
  overflow-wrap: break-word;
}

.c-heading-sub {
  color: var(--color-text--lighter);
  font-weight: normal;
  line-height: 1.4;
  overflow-wrap: break-word;
}
