.hover-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  transition: background 0.2s ease;
  border-radius: 0.25rem;
  color: var(--color-text-heading);
  font-size: var(--font-size-sm);

  &:hover,
  &:focus {
    background: var(--bg-color--lighter);
  }
}

.hover-card__title {
  color: var(--color-text-heading);
  font-size: 1rem;
  line-height: 1.8;
}

.hover-card__text {
  margin-top: 0.5rem;
  overflow: hidden;
  color: var(--color-text-description);
  letter-spacing: 0.025em;
  line-height: 1.8;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}
