.link-card {
  display: flex;
  height: 100%;
  padding: calc(var(--margin-base) * 0.6) calc(var(--margin-base) * 0.8);
  transition: background 0.2s ease, box-shadow 0.4s ease;
  border-radius: 0.25rem;
  color: var(--color-text-heading);
  font-size: var(--font-size-sm);

  &:hover,
  &:focus {
    background: var(--bg-color--lighter);
    box-shadow: 0 0 0 0.25rem var(--bg-color--lighter);
  }
}

.link-card-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  overflow: hidden;
}

.link-card__title {
  color: var(--color-text-heading);
  font-size: 1rem;
  line-height: 1.8;
}

.link-card__text {
  margin-top: 0.25rem;
  overflow: hidden;
  color: var(--color-text-description);
  letter-spacing: 0.025em;
  line-height: 1.8;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

.link-card__date {

  &:not(:only-child) {
    &::after {
      content: ': ';
    }
  }
}

.link-card-icon {
  display: flex;
  align-items: center;
  padding-left: calc(var(--margin-base) * 0.4);
}

.link-card-icon__arrow {
  display: flex;
  align-items: center;
  color: var(--bg-color--dark);

  svg {
    width: 1rem;
    height: 1rem;
  }
}
