.c-pager {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: var(--font-size-sm);
}

.c-pager-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.c-pager__title {
  color: var(--color-text);
}

.c-pager__label {
  margin-bottom: 0.5rem;
  color: var(--color-text--lighter);
  font-weight: bold;
}

.c-pager__item {
  display: flex;
  width: 50%;
  padding: 1rem;
  border-radius: 0.25em;
  color: var(--color-text);
  line-height: 1.8;
  word-break: break-all;

  @media (--mobile-viewport) {
    width: 100%;
  }

  &:hover,
  &:focus {
    background: var(--bg-color--lighter);
  }

  &:only-child {
    flex-grow: 1;
  }
}

.c-pager__item--prev {
  @extend .c-pager__item;

  text-align: left;

  @media (--mobile-viewport) {
    text-align: center;
  }
}

.c-pager__item--next {
  @extend .c-pager__item;

  text-align: right;

  @media (--mobile-viewport) {
    margin-top: 1rem;
    text-align: center;
  }
}

.c-pager-icon {
  display: flex;
  align-items: center;
}

.c-pager-icon--prev {
  @extend .c-pager-icon;

  padding-right: 0.75rem;
}

.c-pager-icon--next {
  @extend .c-pager-icon;

  padding-left: 0.75rem;
}

.c-pager-icon__arrow {
  display: flex;
  align-items: center;
  color: var(--color-text--lighter);

  svg {
    width: 1rem;
    height: 1rem;
  }
}
