.c-post-meta {
  display: flex;
  align-items: center;
  margin-top: calc(var(--margin-base) * 0.85);
  color: var(--color-text--light);
  font-family: var(--font-family-monospace);
  line-height: 1;

  & + & {
    margin-top: calc(var(--margin-base) * 0.5);
  }
}

.c-post-meta-separator {
  width: 2ch;
  height: 1px;
  margin: 0 12px;
  background-color: var(--color-text--lighter);
}

.c-post-meta-date {
  display: flex;
  align-items: center;
  color: var(--color-text--light);
}

.c-post-meta__date {
  display: flex;
  align-items: center;
  color: var(--color-text--lighter);
  font-size: var(--font-size-md);

  &:not(:first-child) {
    margin-left: 0.5em;
  }
}

.c-post-meta__date--strike {
  @extend .c-post-meta__date;

  opacity: 0.8;
  font-size: var(--font-size-sm);
  text-decoration: line-through;
}

.c-post-meta__item {

  &:not(:last-child) {
    margin-right: 0.25em;
  }
}

.c-post-meta-tag {
  display: flex;
}

.c-post-meta__link--category {
  color: var(--color-text--lighter);

  &:hover {
    text-decoration: underline;
  }
}

.c-post-meta__link--tag {
  display: block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.15rem;
  background: var(--bg-color--light);
  color: var(--color-text--light);
  font-size: var(--font-size-sm);
  line-height: 1.25;

  &:hover {
    background: var(--bg-color);
  }

  &::before {
    content: '#';
    color: var(--color-text--lighter);
  }
}
