.c-share {
  display: flex;
  justify-content: center;

  & > *:not(:first-child) {
    margin-left: 1rem;
  }
}

.c-share__item {
  width:  3.5em;
  height: 3.5em;
  padding: 0.25em;
  transition: background 0.4s;
  border-radius: 50%;

  & svg {
    color: var(--color-text--light);
  }

  &:focus,
  &:hover {
    background: var(--bg-color--lighter);
  }
}
