.c-share {
  display: flex;
  justify-content: center;

  & > *:not(:first-child) {
    margin-left: 1rem;
  }
}

.c-share__item {
  width:  3rem;
  height: 3rem;
  padding: 0.25em;
  transition: background 0.4s;
  border-radius: 50%;

  & svg {
    color: var(--color-text--light);
  }

  &:focus,
  &:hover {
    background: var(--bg-color--lighter);
  }
}

.c-share__item--copy {
  @extend .c-share__item;

  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
