.c-share {
  display: flex;
  justify-content: center;

  & > *:not(:first-child) {
    margin-left: 1rem;
  }
}

.c-share__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.25em;
  transition: background 0.4s;
  border-radius: 50%;
  font-size: 1.75rem;

  & svg {
    color: var(--color-text--light);
  }

  &:focus,
  &:hover {
    background: var(--bg-color--lighter);
  }
}
