::selection {
  background-color: rgba(0,0,0,0.1);
}

body {
  padding-top: var(--header-height);
  color: var(--color-text);
  font-family: var(--font-family-sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.75;

  @media (--mobile-viewport) {
    font-size: 0.95rem;
  }

  &.is-no-scroll {
    overflow: hidden!important;
  }
}

a {
  transition: background 0.2s ease, opacity 0.2s ease;
  color: var(--color-text-link);
  text-decoration: none;
  text-underline-position: under;
  text-decoration-color: var(--color-text--lighter);

  &:focus {
    outline: 1px dotted currentColor;
  }
}

figure {
  margin: var(--margin-base) 0;

  & img {
    margin-right: auto;
    margin-bottom: calc(var(--margin-base) * 0.5);
    margin-left: auto;
  }
  & figcaption {
    color: var(--color-text--lighter);
    text-align: center;
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}
