h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--gray-9);
  font-weight: normal;
  line-height: 1.25;
  font-feature-settings: 'palt' 1;
}

h1 {
  font-size: var(--h1-font-size);
}
h2 {
  font-size: var(--h2-font-size);
}
h3 {
  font-size: var(--h3-font-size);
}
h4 {
  font-size: var(--h4-font-size);
}
h5 {
  font-size: var(--h5-font-size);
}
h6 {
  font-size: var(--h6-font-size);
}

mark {
  background-color: var(--mark-bg-color);
}
