pre,
code {
  font-family: $font-family-monospace;
}

code {
  overflow-wrap: break-word;

  a > & {
    color: inherit;
  }
}

pre {
  display: block;
  overflow: auto;
  border-radius: 0.15rem;
  font-size: $font-size-sm;
  overflow-wrap: break-word;
  -webkit-overflow-scrolling: touch;

  code {
    color: inherit;
    font-size: inherit;
    word-break: normal;
  }
}

:not(pre) > code {
  margin: 0;
  padding: 0.2em 0.4em;
  border-radius: 0.15rem;
  background: map-get($light-color, 4);
  color: $secondary-color;
  font-size: strip-unit($font-size-sm) * 1em;
}
