pre,
code {
  font-family: $font-family-monospace;
  font-size: 1rem;
}

code {
  font-size: 0.95rem;
  overflow-wrap: break-word;

  a > & {
    color: inherit;
  }
}

pre {
  display: block;
  font-size: 1rem;

  code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
  }
}
