pre,
code {
  font-family: var(--font-family-monospace);
}

code {
  overflow-wrap: break-word;

  a > & {
    color: inherit;
  }
}

pre {
  display: block;
  overflow: auto;
  border-radius: 0.15rem;
  font-size: var(--font-size-sm);
  overflow-wrap: break-word;
  -webkit-overflow-scrolling: touch;

  > code {
    display: block;
    padding: 1.5rem;
    background: var(--bg-color--lighter);
    color: #383a42;
    font-size: inherit;
    line-height: 1.8;
  }
}

:not(pre) > code {
  margin: 0;
  padding: 0.2em 0.4em;
  border-radius: 0.15rem;
  background: var(--bg-color--lighter);
  color: var(--color-text--light);
  font-size: var(--font-size-sm);
}
