body {
  margin: 0;
  padding-top: $header-height;
  color: $base-color;
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.75;
  scroll-behavior: smooth;
}

a {
  transition: background 0.2s ease, opacity 0.2s ease;
  color: $base-color;
  text-decoration: none;
  &:visited {
    color: $secondary-color;
  }
  &:hover {
    opacity: 0.6;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

figure {
  img {
    margin-right: auto;
    margin-bottom: 0.5rem;
    margin-left: auto;
  }
  figcaption {
    color: $tertiary-color;
    text-align: center;
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

::selection {
  background: rgba(map-get($light-color, 0), 0.8);
  color: $secondary-color;
}
