body {
  margin: 0;
  padding-top: $header-height;
  color: $base-color;
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: 0.6;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
