table {
  border-collapse: collapse;
  border: var(--table-border-width) solid var(--table-border-color);
  background: #fff;

  @include mobile {
    min-width: 100%;
    table-layout: fixed;
  }
}

th,
td {
  padding: 1rem;
  border: var(--table-border-width) solid var(--table-border-color);
  border-top: var(--table-border-width) solid var(--table-border-color);
  vertical-align: top;

  @include mobile {
    white-space: nowrap;
  }
}

thead {
  th {
    border-bottom: calc(var(--table-border-width) * 2) solid var(--table-border-color);
    background: var(--table-head-bg-color);
    vertical-align: bottom;
    white-space: nowrap;
  }
  th,
  td {
    border-bottom-width: calc(2 * var(--table-border-width));
  }
}

tbody {
  tr {
    transition: background 0.3s ease;
    &:hover {
      background: var(--table-hover-color);
    }
  }
  & + & {
    border-top: calc(var(--table-border-width) * 2) solid var(--table-border-color);
  }
}
