table {
  border-collapse: collapse;
  border: $table-border-width solid $table-border-color;
  background: #fff;

  @include mobile {
    min-width: 100%;
    table-layout: fixed;
  }
}

th,
td {
  padding: 1rem;
  border: $table-border-width solid $table-border-color;
  border-top: $table-border-width solid $table-border-color;
  vertical-align: top;

  @include mobile {
    white-space: nowrap;
  }
}

thead {
  th {
    border-bottom: ($table-border-width * 2) solid $table-border-color;
    background: $table-head-bg-color;
    vertical-align: bottom;
    white-space: nowrap;
  }
  th,
  td {
    border-bottom-width: (2 * $table-border-width);
  }
}

tbody {
  tr {
    transition: background 0.3s ease;
    &:hover {
      background: $table-hover-color;
    }
  }
  & + & {
    border-top: ($table-border-width * 2) solid $table-border-color;
  }
}
