h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1em;
  font-family: inherit;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
  line-height: 2;
  letter-spacing: 0.05em;
  word-break: break-all;
}

blockquote {
  width: 100%;
  margin-bottom: 2rem;
  margin-left: 0.8rem;
  padding: 1.6rem;
  border-left: 0.25rem solid map-get($light-color, 1);
  font-size: $font-size-sm;
  color: $secondary-color;
  p:last-child {
    margin-bottom: 0;
  }
}

mark {
  background-color: $oc-yellow-1;
}
