h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1em;
  color: inherit;
  font-family: inherit;
  line-height: 1.2;
}

h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
  letter-spacing: 0.05em;
  line-height: 2;
  word-break: break-all;
}

blockquote {
  position: relative;
  margin: 2rem 0;
  padding: 3rem;
  background: map-get($light-color, 4);
  color: $secondary-color;
  font-size: $font-size-sm;

  &::before,
  &::after {
    display: block;
    position: absolute;
    width: 3rem;
    height: 3rem;
    color: map-get($light-color, 0);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }

  &::before {
    content: '“';
    top: 0;
    left: 0;
  }
  &::after {
    content: '”';
    right: 0;
    bottom: 0;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

mark {
  background-color: $oc-yellow-1;
}
