.c-adsense {
  max-width: 336px;
  height: 280px;
  margin: 2rem auto;
  @include mobile {
    min-height: 100px;
  }
}

// google adsense utility
.google-auto-placed {
  margin: 1rem auto;
  overflow: auto;
}
