.c-alert {
  padding: .75rem 1.25rem;
  border: 1px solid $bg-color--dark;
  border-radius: 0.15rem;
  background-color: $bg-color;
  color: $color-text;

  a {
    color: $color-text--dark;
  }

  & + .c-alert {
    margin-top: 1rem;
  }
}
