.c-card {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 1rem 0;
  transition: background 0.2s ease;
  color: var(--color-text-heading);

  &-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    margin: 0 0.5rem 0 0;
    overflow: hidden;

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      border-radius: 0.15rem;
      background: var(--bg-color--light);
    }

    &__item {
      height: 5rem;
      object-fit: contain;
    }

    &__no-item {
      display: flex;

      svg {
        width: 2rem;
        height: 2rem;
        color: var(--color-text--light);
      }
    }
  }

  &-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 1rem 0 0.5rem;
    font-size: var(--font-size-sm);

    &__title {
      margin-bottom: 0.5rem;
      color: var(--color-text-heading);
      font-size: 1rem;
      line-height: 1.8;
    }

    &__description {
      color: var(--color-text-description);
      letter-spacing: 0.025em;
      line-height: 1.8;
      word-break: break-all;
    }

    &:hover & {

      &__title {
        text-decoration: underline;
        text-underline-position: under;
      }
    }
  }

}
