.c-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;

  &-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    border-radius: 0.15rem;
    background-color: map-get($light-color, 3);

    &__item {
      height: 5rem;
      object-fit: contain;
    }

    &__no-item {
      width: 4rem;
      height: 4rem;
      color: $tertiary-color;
    }
  }

  &-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: $font-size-sm;

    &__title {
      margin-bottom: 0.5rem;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.8;
    }

    &__description {
      margin-bottom: 0.5rem;
      color: $tertiary-color;
      letter-spacing: 0.025em;
      line-height: 1.8;
      word-break: break-all;
    }
  }

  &-footer {
    color: $tertiary-color;
    font-size: $font-size-sm;
    letter-spacing: 0.025em;
    text-align: right;
  }
}
