.c-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  @include mobile {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    border-radius: 0.15rem;
    background-color: $bg-color--light;

    @include mobile {
      width: 8rem;
      height: 8rem;
      margin-right: 1rem;
      margin-bottom: 0;
    }

    &__item {
      height: 5rem;
      object-fit: contain;
    }

    &__no-item {
      width: 4rem;
      height: 4rem;
      color: $color-text--lighter;

      @include mobile {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  &-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: $font-size-sm;

    &__title {
      margin-bottom: 0.5rem;
      color: $color-text-heading;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.8;
    }

    &__description {
      flex-grow: 1;
      margin-bottom: 0.5rem;
      color: $color-text-description;
      letter-spacing: 0.025em;
      line-height: 1.8;
      word-break: break-all;
    }
  }

  &-footer {
    color: $color-text--lighter;
    font-size: $font-size-sm;
    letter-spacing: 0.025em;
    text-align: right;

    @include mobile {
      width: 100%;
    }
  }
}
