.c-category-list {
  display: flex;
  align-items: center;
  margin: 3rem auto;
  font-size: $font-size-xs;
  letter-spacing: 0.1em;
  white-space: nowrap;
  scroll-snap-type: x;

  &__item {
    text-align: center;
    scroll-snap-align: start;

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

  &__link {
    display: block;
    position: relative;
    padding: 0.5em;
    color: $color-text;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      transition: width 0.2s cubic-bezier(1, 0, 0, 1);
      background: $color-text;
    }

    &:hover {

      &::before {
        width: 100%;
      }
    }

    &.nuxt-link-active {
      cursor: default;

      &::before {
        width: 100%;
      }
    }
  }
}
