.c-category-list {
  display: flex;
  align-items: center;
  margin: 3rem auto;
  font-size: $font-size-sm;
  letter-spacing: 0.1em;
  white-space: nowrap;

  &__item {
    text-align: center;

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

  &__link {
    display: block;
    padding: 0.5rem 0;
    transition: opacity 0.3s, border 0.8s;
    border-bottom: 2px solid transparent;
    opacity: 0.4;

    &:hover {
      border-bottom-color: $base-color;
      opacity: 1;
    }
  }
}
