.c-category-list {
  display: flex;
  align-items: center;
  margin: 3rem auto;
  font-size: $font-size-xs;
  letter-spacing: 0.1em;
  white-space: nowrap;

  &__item {
    text-align: center;

    &:not(:first-child) {
      margin-left: 0.5rem;
    }
  }

  &__link {
    display: block;
    padding: 0.5em 0.8em;
    border-radius: 0.15rem;
    color: $color-text;

    &:hover {
      opacity: 1;
      background-color: $bg-color;
    }

    &.nuxt-link-active {
      opacity: 1;
      background: $color-text;
      color: $bg-color;
      cursor: default;
    }
  }
}
