.c-heading {

  &__title {
    margin-bottom: 0;
    color: $color-text-heading;
    letter-spacing: 0.05em;
    line-height: 1.5;
    overflow-wrap: break-word;
  }

  &__description {
    margin-top: 0.5rem;
    color: $color-text-description;
    font-weight: normal;
    letter-spacing: 0.075em;
    line-height: 1.5;
  }
}
