.c-meta-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: $tertiary-color;
  list-style: none;

  .meta-item {
    display: inline-flex;
    align-items: center;
  }

  a {
    color: $tertiary-color;
    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    width: 0.85em;
    height: 0.85em;
    &:first-child {
      margin-right: 0.25em;
    }
  }
}
