.c-meta-list {
  display: flex;
  align-items: center;
  margin: 0 0 0.5rem 0;
  padding: 0;
  color: $tertiary-color;
  line-height: 1;
  list-style: none;

  // .meta-item {}

  a {
    color: $tertiary-color;
    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    width: 0.85em;
    height: 0.85em;
    &:first-child {
      margin-right: 0.25em;
    }
  }

  .meta-item + svg {
    margin: 0 0.25rem;
  }
}
