.c-pager {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: $font-size-sm;

  &__item {
    $element: #{&};

    width: calc(50% - 0.5rem);
    padding: 1rem;
    border-radius: 0.15rem;
    color: $color-text;
    line-height: 1.8;
    word-break: break-all;

    &:hover {
      background: $bg-color--lighter;
    }

    &:only-child {
      flex-grow: 1;
    }

    @include mobile {
      width: 100%;
    }

    &--prev {
      @extend #{$element};

      text-align: left;
    }

    &--next {
      @extend #{$element};

      text-align: right;

      @include mobile {
        margin-top: 1rem;
      }
    }
  }

  &__title {
    $element: #{&};

    color: $color-text;

    &::before {
      display: block;
      margin-bottom: 0.5rem;
      color: $color-text--lighter;
      font-size: $font-size-sm;
    }

    &--prev {
      @extend #{$element};

      &::before {
        content: 'Prev';
      }
    }

    &--next {
      @extend #{$element};

      &::before {
        content: 'Next';
      }
    }
  }

}
