.c-pager {
  $block: #{&};

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: var(--font-size-sm);

  &__item {
    $element: #{&};

    width: calc(50% - 0.5rem);
    padding: 1rem;
    color: $color-text;
    line-height: 1.8;
    word-break: break-all;

    &:hover {
      #{$block}__title {
        text-decoration: underline;
        text-underline-position: under;
      }
    }

    &:only-child {
      flex-grow: 1;
    }

    @include mobile {
      width: 100%;
    }

    &::before {
      display: block;
      margin-bottom: 0.5rem;
      color: $color-text--lighter;
    }

    &--prev {
      @extend #{$element};

      text-align: left;

      &::before {
        content: 'Prev';
      }
    }

    &--next {
      @extend #{$element};

      text-align: right;

      @include mobile {
        margin-top: 1rem;
      }

      &::before {
        content: 'Next';
      }
    }
  }

  &__title {
    color: $color-text;
  }

}
