.c-pickup-category {
  display: flex;
  align-items: center;
  height: 6rem;
  margin: 1rem auto 2rem;
  font-size: var(--font-size-xs);
  white-space: nowrap;
  scroll-snap-type: x;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5.5rem;
    height: 5.5rem;
    padding: 0.5rem;
    border: 0.25em solid transparent;
    border-radius: 0.5rem;
    background: var(--bg-color--light);
    text-align: center;
    scroll-snap-align: start;

    &:hover {
      .c-pickup-category__name {
        overflow: visible;
      }
    }

    .nuxt-link-active & {
      border: 0.25em solid var(--bg-color--dark);
    }
  }

  &__link {
    & + & {
      margin-left: 1rem;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: var(--color-text--light);

    & img,
    & svg {
      width: 50%;
    }
  }

  &__name {
    width: 100%;
    overflow: hidden;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
