.c-post-meta {
  display: flex;
  align-items: center;
  padding: 0;
  color: $color-text--light;

  &:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  &__item {

    &--date {
      display: flex;
      color: $color-text--lighter;
      text-decoration: line-through;

      &:only-of-type {
        color: $color-text--light;
        text-decoration: none;
      }

      & + & {
        margin-left: 0.5em;
        color: $color-text--light;
        text-decoration: none;
      }
    }

    &--separator {
      &:not(:last-child) {
        &::after {
          content: ',';
          display: inline-block;
          margin-right: 0.25em;
        }
      }
    }
  }

  &__link {
    color: $color-text--light;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: 0.25em;
    }

    svg {
      fill: currentColor;
    }
  }
}
