.c-post-meta {
  display: flex;
  align-items: center;
  padding: 0;
  color: $color-text--light;

  &:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  &__item {

    &--date {
      display: flex;
      margin-bottom: 0.5rem;
      color: $color-text--lighter;
      text-decoration: line-through;

      &:only-of-type {
        color: $color-text--light;
        text-decoration: none;
      }

      & + & {
        margin-left: 0.5em;
        color: $color-text--light;
        text-decoration: none;
      }
    }

    &--separator {
      &:not(:last-child) {
        margin-right: 0.25em;
      }
    }
  }

  &__link {
    $element: #{&};

    padding: 0.25em 0.5em;
    border-radius: 2px;

    @include desktop {
      font-size: $font-size-sm;
    }

    &--category {
      @extend #{$element};

      background: $color-text--dark;
      color: $bg-color;
    }

    &--tag {
      @extend #{$element};

      border: 1px solid $color-text--lighter;
      color: $color-text--light;
    }
  }
}
