.c-sns-list {
  display: flex;
  justify-content: center;

  &__item {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.25em;
    border-radius: 50%;
    background: $color-text;

    &:hover {
      opacity: 0.6;
    }

    & + & {
      margin-left: 1rem;
    }
  }
}

