.c-sns-list {
  display: flex;
  justify-content: center;

  &__item {
    $element: #{&};

    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    &:hover {
      opacity: 0.6;
    }

    & + & {
      margin-left: 1rem;
    }

    &--twitter {
      @extend #{$element};

      background: map-get($social-color, 'twitter');
    }

    &--facebook {
      @extend #{$element};

      background: map-get($social-color, 'facebook');
    }

    &--hatenabookmark {
      @extend #{$element};

      background: map-get($social-color, 'hatenabookmark');
    }

    &--line {
      @extend #{$element};

      background: map-get($social-color, 'line');
    }

    svg {
      width: inherit;
      height: inherit;
    }
  }
}

