.c-title {
  margin: 1.5rem 0;
  text-align: center;

  > .title-main {
    font-size: $h2-font-size;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.05em;
    overflow-wrap: break-word;
  }

  > .title-sub {
    font-size: $h3-font-size;
    margin-top: 0.5rem;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.075em;
  }
}
