[data-footnotes] {
  padding-top: var(--space-3);
  margin-top: var(--space-6);
  font-size: var(--font-size-sm);
  color: var(--colors-gray-11);
  border-top: 1px solid var(--colors-gray-6);

  li {
    padding-left: var(--space-½);
    counter-increment: steps;

    &::marker {
      letter-spacing: 1px;
      content: '[' counter(steps) ']';
    }

    & + li {
      margin-top: var(--space-1);
    }
  }

  p,
  h2 {
    margin: auto;
  }

  a {
    color: inherit;
  }

  [data-footnote-backref] {
    text-decoration-line: none;
  }
}
