[data-mokuji-anchor] {
  @mixin link-style;
  @mixin link-style--hover-effect;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  margin: auto;
  font-size: 1em;
  color: var(--colors-gray-a-900);
  text-decoration: none;
  user-select: none;

  &::after {
    display: none;
    border-radius: var(--radii-full);
  }

  &:hover,
  &:focus,
  &:focus-within {
    &::after {
      border-radius: var(--radii-full);
    }
  }

  &:hover {
    color: var(--colors-gray-1000);
  }

  @media (--isDesktop) {
    &::after {
      display: block;
    }
  }
}
