[data-footnotes] {
  padding-top: var(--spacing-3);
  margin-top: var(--spacing-6);
  font-size: var(--font-sizes-sm);
  color: var(--colors-gray-900);
  border-top: 1px solid var(--colors-gray-400);

  li {
    padding-left: var(--spacing-½);
    counter-increment: steps;

    /* stylelint-disable-next-line */
    &::marker {
      letter-spacing: 1px;
      content: '[' counter(steps) ']';
    }

    & + li {
      margin-top: var(--spacing-1);
    }
  }

  p,
  h2 {
    margin: auto;
  }

  a {
    color: inherit;
  }

  [data-footnote-backref] {
    text-decoration-line: none;
  }
}
