.post-content {
  font-size: var(--font-size-post-content);
  color: var(--color-gray-11);

  & > * {
    margin-top: var(--space-2);
    margin-bottom: var(--space-3);

    & > p,
    & > div {
      margin-top: var(--space-1);
      margin-bottom: var(--space-1);
    }
  }

  > :where(p) {
    letter-spacing: var(--letter-spacing-md);
    /* stylelint-disable */
    word-break: break-word;
    /* stylelint-enable */
    word-wrap: break-word;
  }

  /* workaround */
  a:where(:not(:has([class]), [data-mokuji-anchor])) {
    text-decoration-line: underline;

    &:hover {
      text-decoration-color: var(--color-gray-11);
    }
  }

  blockquote {
    padding: var(--space-3);
    color: var(--color-gray-11);
    border-left: 0.25rem solid var(--color-gray-6);

    cite {
      display: block;
      font-size: var(--font-size-xs);
      line-height: var(--line-height-sm);
      color: var(--color-gray-11);
    }
  }

  ul,
  ol {
    padding-inline-start: var(--space-3);

    & + pre {
      margin-inline-start: var(--space-3);
    }
  }

  :where(li) > :is(ul, ol) {
    margin-block-start: 0;
  }

  li {
    margin-block-start: var(--space-½);

    &:first-of-type {
      margin-block-start: 0;
    }

    blockquote {
      margin-top: var(--space-1);
    }

    ul:last-of-type {
      margin-block-end: var(--space-1);
    }
  }

  iframe {
    width: 100%;

    &[src*='youtube'] {
      height: auto;
      aspect-ratio: 16 / 9;
    }

    @media (--isMobile) {
      min-height: 320px;
    }
  }

  details {
    background-color: var(--white);

    summary {
      padding: var(--space-1) var(--space-2);
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-bold);
      border: 1px solid var(--color-gray-6);
      border-radius: var(--border-radius-4);
      transition: background-color 0.2s ease;

      & ~ * {
        margin: 0 var(--space-2) var(--space-2);
        font-size: var(--font-size-sm);

        > *:first-of-type {
          margin-top: auto;
        }
      }
    }

    &[open] {
      border: 1px solid var(--color-gray-7);
      border-radius: var(--border-radius-4);

      summary {
        border: none;
      }
    }

    &:not([open]) {
      summary {
        &:hover {
          background-color: var(--color-gray-4);
        }
      }
    }
  }

  figure {
    margin: var(--space-3) auto;
  }

  hr {
    display: flex;
    align-items: center;
    width: 80%;
    margin: var(--space-5) auto;
    border: 0;

    &::after {
      display: block;
      width: 100%;
      height: var(--space-1);
      color: var(--color-gray-6);
      content: '';
      background-image: repeating-linear-gradient(
        -45deg,
        currentColor,
        currentColor 1px,
        transparent 0,
        transparent 50%
      );
      background-size: 6px 6px;
    }
  }
}
