/* global */

/* stylelint-disable-next-line */
::selection {
  color: var(--colors-gray-1000);
  background-color: var(--colors-gray-a-300);
}

:root {
  /* stylelint-disable-next-line */
  interpolate-size: allow-keywords;
}

* {
  scrollbar-width: thin;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: var(--fonts-family-sans-serif);
  font-weight: var(--font-weights-normal);
  font-feature-settings: 'chws' 1;
  line-height: 1.875;
  color: var(--colors-gray-1000);
  line-break: strict;
  background-color: var(--colors-body-background);
  -webkit-font-smoothing: subpixel-antialiased;

  @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &::before,
  &::after {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: '';
    background-color: var(--colors-gray-a-100);
    clip-path: polygon(0% 0%, 100% 0%, 0 max(10vw, 80px), 0% 100%);
  }

  &::after {
    clip-path: polygon(0% 0%, 100% 0%, 100% max(20vw, 300px));
  }

  :is(&):has(dialog[open]) {
    overflow: clip;

    &,
    [data-floating] {
      /* workaround for scrollbar gutter */
      padding-inline-end: var(--scrollbar-width, 0);
    }
  }
}

a {
  color: var(--colors-gray-1000);
  overflow-wrap: break-word;
  text-decoration: none;
  text-decoration-color: var(--colors-gray-500);
  text-underline-position: under;
  text-underline-offset: 4%;
  transition:
    background-color 0.2s ease,
    opacity 0.2s ease,
    box-shadow 0.2s var(--easings-ease-out-expo),
    text-decoration-color 0.2s;

  &[target='_blank'] {
    /* img,svg が含まれていない a 要素には外部リンクアイコンを付与 */
    &:not(:has(:is(img, svg))) {
      &::after {
        display: inline-block;
        margin-left: 0.15em;
        vertical-align: middle;
        content: '↗';
      }
    }
  }

  &:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 2px var(--colors-gray-700);
  }
}

figure {
  text-align: center;

  &:has(img) {
    font-size: var(--font-sizes-sm);

    > * + * {
      margin-top: var(--spacing-1);
    }

    img {
      display: block;
      margin-right: auto;
      margin-left: auto;
      border: 1px solid var(--colors-gray-400);
    }
  }

  figcaption {
    font-size: var(--font-sizes-sm);
    color: var(--colors-gray-600);
  }
}

ul {
  list-style: revert;
}

ol {
  list-style: decimal;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weights-normal);
  font-feature-settings: 'palt';
  color: var(--colors-gray-1000);
}

h1 {
  font-size: var(--font-sizes-h1);
  font-weight: var(--font-weights-bolder);
}

h2 {
  font-size: var(--font-sizes-h2);
}

h3 {
  font-size: var(--font-sizes-h3);
}

h4 {
  font-size: var(--font-sizes-h4);
}

h5 {
  font-size: var(--font-sizes-h5);
}

h6 {
  font-size: var(--font-sizes-h6);
}

b,
strong {
  font-weight: var(--font-weights-bold);
  color: var(--colors-gray-1000);
}

mark {
  padding: 1px 2px;
  background-color: var(--colors-gray-a-100);
  border-radius: var(--radii-4);
}

/* code */
pre,
code {
  font-family: var(--fonts-family-monospace);
}

code {
  color: var(--colors-gray-800);
  overflow-wrap: break-word;
  background-color: var(--colors-gray-a-25);
  border-radius: var(--radii-4);

  a > & {
    color: inherit;
  }
}

pre {
  display: block;
  overflow: auto;
  font-size: var(--font-sizes-sm);
  overflow-wrap: break-word;
  /* stylelint-disable */
  resize: horizontal;
  /* stylelint-enable */
  border: 1px solid var(--colors-gray-a-200);
  border-radius: var(--radii-4);
  -webkit-overflow-scrolling: touch;

  & > code {
    display: block;
    padding: var(--spacing-3);
    font-size: inherit;
    background-color: var(--colors-gray-a-50);
  }
}

:not(pre) > code {
  padding: var(--spacing-½) var(--spacing-1);
  margin: 0;
  font-size: var(--font-sizes-sm);
  background: var(--colors-gray-a-100);
}

/* table */
table {
  display: block flow;
  max-inline-size: 100%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  font-size: var(--font-sizes-md);
  background-color: var(--colors-white);
  animation: scroll-table-shadow-inset linear;
  /* stylelint-disable-next-line */
  animation-timeline: scroll(self x);

  caption {
    margin: var(--spacing-1) 0;
    color: var(--colors-gray-900);
    text-align: center;
  }
}

th,
td {
  padding: var(--spacing-1) var(--spacing-2);
  vertical-align: top;
  white-space: nowrap;
  border-top: 1px solid var(--colors-gray-400);
}

th {
  color: var(--colors-gray-1000);
  text-align: left;
  background-color: var(--colors-gray-a-300);

  &[align='center'] {
    text-align: center;
  }

  &[align='right'] {
    text-align: right;
  }
}

thead {
  th {
    vertical-align: bottom;
    white-space: nowrap;
    border-top: none;
    border-bottom: 2px solid var(--colors-gray-400);
  }
}

tbody {
  & + tbody {
    border-top: 2px solid var(--colors-gray-400);
  }

  &:last-child {
    border-bottom: 1px solid var(--colors-gray-400);
  }

  tr {
    &:hover {
      background-color: var(--colors-gray-a-100);
    }
  }
}

button {
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
}

del {
  font-size: var(--font-sizes-sm);
  color: var(--colors-gray-900);

  &[datetime] {
    &::before {
      display: inline-block;
      content: '（' attr(datetime) ' 削除）';
    }
  }
}

@supports (interpolate-size: allow-keywords) {
  details::details-content {
    height: 0;
    overflow-y: clip;
    opacity: 0;
    transition:
      height 0.2s var(--easings-ease-out-expo),
      opacity 0.2s linear,
      content-visibility 0.2s ease allow-discrete;
  }

  details[open]::details-content {
    height: auto;
    /* stylelint-disable-next-line declaration-property-value-no-unknown */
    height: calc-size(auto, size);
    opacity: 1;
  }
}

@supports (view-transition-name: none) {
  @media not (prefers-reduced-motion: reduce) {
    ::view-transition-old(cross-fade) {
      animation: view-transition-hide 0.4s var(--easings-ease-out-expo) forwards;
    }

    ::view-transition-new(cross-fade) {
      opacity: 0;
      animation: view-transition-show 0.6s var(--easings-ease-out-expo) 0.2s forwards;
    }
  }
}
