.pj-footer {
  padding: 3rem 0;
  background: $color-text;
  color: $bg-color;
  font-size: $font-size-sm;
  text-align: center;
}

.pj-footer__link {
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

// menu
.pj-footer-menu {
  margin-bottom: 1rem;

  &__list {
    display: inline-flex;
  }

  &__item {
    & + & {
      margin-left: map-get($size, sm) * 1rem;
    }
  }
}


// copyright
.pj-footer-copyright {
  &__text {
    font-size: 1em;
  }
}
