.pj-footer {
  padding: 3rem 0;
  background: var(--color-text);
  color: var(--bg-color);
  font-size: var(--font-size-sm);
  line-height: 1;
  text-align: center;
}

.pj-footer__link {
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.pj-footer__logo {
  margin-bottom: 1.5rem;

  & svg {
    width: 5rem;
    height: 100%;
    fill: var(--bg-color);
  }
}

.pj-footer-menu {
  margin-bottom: 2rem;
}

.pj-footer-menu__list {
  display: inline-flex;
}

.pj-footer-menu__item {
  & +  & {
    margin-left: 1em;
  }
}

.pj-footer-copyright__text {
  font-size: 1em;
}
