.pj-header {
  position: fixed;
  z-index: $zIndex-header;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  transition: transform 0.25s ease;
  border-bottom: 1px solid $border-color;
  background: #fff;
  will-change: transform;

  &.is-unpin {
    transform: translateY(-$header-height);
    box-shadow: none;
  }
}

.pj-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.pj-header__logo {
  display: flex;
  align-items: center;
  height: 100%;
  color: $color-text;

  &:hover {
    opacity: 0.6;
  }

  svg {
    width: 5rem;
    height: 100%;
    transition: width 0.2s;
    fill: currentColor;
  }
}

.pj-header-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 100%;

  &__icon {
    display: flex;

    svg {
      width: 1.25rem;
      height: 1.25rem;
      fill: $color-text--light;
    }
  }
}

